

.app{
    background-color: #f0b40048;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}

.app__body{
    display: flex;
    margin-top: 35px;
    width: 60%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top:80px;
   
    
}

