.header{ 
    
    top:0;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding: 10px 0;
    width: 100%;
    background-color:     #f3f2ee ;
    z-index: 999;
    height: 50px;
    gap: 950px;


}
.header__left{
    display: flex;
}

.header__left  img{
    object-fit: contain;
    height: 40px;
    width: 60px;
    margin-right: 10px;
}

.header__search{
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #ffffff;

}

.header__search > input{
    outline: none;
    border: none;
    background: none;
}

.header__right{
    display: flex;
    
}

.dropdown {
    position: absolute;
    top: 110%;
    right: 230px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    width: 300px;
  }

  profile-info {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .profile-info .name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .profile-info .university,
  .profile-info .major {
    font-size: 16px;
    color: #777;
  }

  .user-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }