.inputOption{
    display: flex;
    align-items: center;
    margin-top:10px;

}

.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

.inputOption > h4{
    margin-left: 5px;
}