.login{
    display: grid;
    place-items:center;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 80vh;
}

.login > img{
    object-fit: contain;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login > form{
    display: flex;
    flex-direction: column;

}

.login > form > input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
   
}

.login > form > button{
    width: 365px;
    height: 50px;
    color: #fff;
    background-color: #0074b1;
    border-radius: 5px;
}

.login__register{
    color: #0177b7;
    cursor:pointer;
}

.login > p{
    margin-top: 20px;
}

.log__header{
    width: 350px;
    height: 50px;
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 10px;

}

.log__head{
    font-size: 22px;
    cursor: pointer;
}

.log__head {
    cursor: pointer;
    position: relative;
  }
  
  .log__head.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px; /* Adjust the height of the horizontal line as needed */
    background-color: blue; /* Adjust the color of the horizontal line as needed */
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  /* Other styles for your component */
  