*{
  margin: 0;
}
.profile{
  margin-top: 10%;
  margin-left: 10%;
}


.cover__photo{

  height: 300px;
  width: 800px;
  
}

.profile__photo{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -75px;
  margin-left: 20px;
  object-fit: cover;
  border: black 2px solid;
}

.profile__photo img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.cover__photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__posts{
  margin-top: 50px;
  max-width: 500px;
}


/* Styles for Profile Info Section */
.profile__info {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; /* Create space between left and right columns */
  padding: 20px;

  border-radius: 8px;
  background-color: #f2f2f2; /* Add a background color */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */

}

.profile__info-left {
  flex: 1; /* Take up 50% of the available space */
}

.profile__info-right {
 flex:0.5;
  margin-right: 0;
 /* Take up 50% of the available space */
}

/* Add more styles as needed for individual sections within left and right columns */


h1 {
  font-size: 24px;
  margin: 0;
}

p {
  margin: 5px 0;
}

a {
  color: #007bff; /* Link color, adjust as needed */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.profile__logo {
  display: flex;
  align-items: center; /* Vertically center align items */
  gap: 20px; /* Adjust the gap as needed */
  justify-content: flex-end;
}



.profile__bio {
  max-width: 700px;
  padding: 20px; /* Add padding for spacing */
  background-color: #f2f2f2; /* Add a background color */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  max-height: 300px; /* Set a maximum height for the content */
  display: flex;
 
}

.profile__bio p {
  font-size: 16px; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust line height for readability */
  margin: 0; /* Remove default margin to prevent extra spacing */
   /* Preserve line breaks */
}

.profile__bio-left{
  flex: 1;
}


