/* projects.css */

.projects {
  margin-top: 5%;
  padding: 20px;
  width: 100%;
  line-height: 1.5;
  height: 100%;
  margin-left: 10%;
}

.main__container {
  max-width: 1000px;
  margin: 0 auto;

}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Style for individual project card */
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 250px; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .card-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .card-description {
    font-size: 14px;
    color: #666;
  }

  .card-actions {
    margin-top: 12px;

    button {
      margin-right: 8px;
      padding: 8px;
      cursor: pointer;
      border: none;
      background-color: #007bff;
      color: #fff;
      border-radius: 4px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

form{
  margin-bottom: 20px;
}
